<ion-view view-title="Topic">
    <ion-content>
        <ion-item nav-clear menu-close ng-click="show_new_topic()">
            <h1>
                <i class="icon ion-plus" ng-init="init()"></i>
            </h1>
        </ion-item>
        <ion-item>
            <button ng-click="show()">Show All</button>
        </ion-item>
        <ion-item ng-repeat="topic in topics" href="#/app/playlist/{{topic.id}}" class="item-remove-animate  item-icon-right" type="item-text-wrap">
            {{topic.topic_name}}
            <i class="icon ion-chevron-right icon-accessory"></i>
            <!--<ion-option-button class="button-dark" ng-click="add_item_to_topic({{topic.id}})">
                Add
            </ion-option-button>-->
            <ion-option-button class="button-royal" ng-click="edit_topic_name({{topic.id}})">
                Edit
            </ion-option-button>
            <ion-option-button class="button-assertive" ng-click="delete_topic({{topic.id}})">
                Delete
            </ion-option-button>
        </ion-item>
    </ion-content>
</ion-view>