<ion-view view-title="Play" hide-nav-bar="true" class="background">

    <ion-content on-release="play_random()" padding="true" class="center">
        <p ng-repeat="item in items_play" class="text-play">
            {{item.content}}
        </p>
    </ion-content>

    <div class="tabs tabs-icon-top" style="background-color: #31CF5A">
        <a class="tab-item" ng-click="previous_topic()" style="color: #000000; border-color: #45ff00">
            <i class="icon ion-skip-backward"></i>
            Previous
        </a>
        <a class="tab-item" ng-click="stop_topic()" style="color: #000000; border-color: #45ff00">
            <i class="icon ion-stop"></i>
            Stop
        </a>
        <a class="tab-item" ng-click="next_topic()" style="color: #000000; border-color: #45ff00">
            <i class="icon ion-skip-forward"></i>
            Next
        </a>
    </div>
</ion-view>