<ion-view view-title="Easy to learn English">
    <ion-content>
        <ion-item nav-clear menu-close ng-click="show_new_topic()" class="button button-full button-light button-large"
                  data-ng-init="init()">
            <h1>
                <i class="icon ion-plus"></i>
                <br>
                New Topic
            </h1>
        </ion-item>
        <!--<button ng-click="select_item()">select item</button>
        <ion-list>
            <ion-item ng-repeat="item in items" href="#/app/home/{{topic.id}}"
                      class="item-remove-animate  item-icon-right" type="item-text-wrap">
                {{item.content}}
            </ion-item>
        </ion-list>-->
    </ion-content>
</ion-view>