<ion-view view-title="Topic">
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-play" ng-click="play_topic()"
                href="#/app/play/{{items(0).id}}">
        </button>
    </ion-nav-buttons>
    <ion-content>
        <ion-item ng-repeat="item in items">
            {{item.content}}
        </ion-item>
        <center>
            <span ng-if="items.length == 0">Không có gì hết.</span>
        </center>
        <ion-option-button class="button-full" ng-click="add_item_to_topic()">
            Add
        </ion-option-button>
    </ion-content>
</ion-view>