<ion-view view-title="Play" hide-nav-bar="true" class="background">

    <ion-content on-release="play_random()" padding="true" class="center">
        <p ng-repeat="item in items_play" class="text-play">
            {{item.content}}
        </p>
    </ion-content>

    <div class="tabs tabs-icon-top" style="background-color: #2aa600">
        <a class="tab-item" ng-click="previous_topic()" style="color: #fcfaff" ng-if="data.previous == true">
            <i class="icon ion-skip-backward"></i>
            Previous
        </a>
        <a class="tab-item" ng-click="previous_topic()" style="color: #000000" ng-if="data.previous == false">
            <i class="icon ion-skip-backward"></i>
            Previous
        </a>
        <a class="tab-item" ng-click="stop_topic()" style="color: #fcffff">
            <i class="icon ion-close"></i>
            Exit
        </a>
        <a class="tab-item" ng-click="next_topic()" style="color: #fcfaff" ng-if="data.next == true">
            <i class="icon ion-skip-forward"></i>
            Next
        </a>
        <a class="tab-item" ng-click="next_topic()" style="color: #000000" ng-if="data.next == false">
            <i class="icon ion-skip-forward"></i>
            Next
        </a>
    </div>
</ion-view>