<ion-view view-title={{data.topic_name_show_header}} class="center background">

    <ion-nav-buttons side="right">
        <span ng-if="items.length > 0">
            <button class="button button-clear button-balanced ion-play" ng-click="play()">
            </button>
        </span>

        <span ng-if="items.length == 0">
            <button class="button button-clear button-dark ion-play" ng-click="no_item()">
            </button>
        </span>
    </ion-nav-buttons>

    <ion-content ng-if="items.length == 0" class="center">
            <span><center class="text-shadow">No item in {{data.topic_name_show_header}}, click + to add. :)</center>
            <ion-item nav-clear menu-close ng-click="add_item_to_topic()"
                      class="button button-full button-clear button-large">
                <h1 class="button-new-topic">
                    <i class="icon ion-plus"> Add Item</i>
                </h1>
            </ion-item>
            </span>
    </ion-content>

    <ion-content style="margin-bottom: 5%">
        <ion-list ng-if="items.length > 0" style="margin-top: 40px; ">
            <ion-item ng-repeat="item in items" ng-if="items.length > 0" class="item-remove-animate item-menu-topic"
                      type="item-text-wrap"
                      href="#">
                {{item.content}}
                <ion-option-button class="button-calm item-icon-right" ng-click="edit_item(item.id, item.content)"
                                   menu-close="true">
                    <i class="icon ion-edit"></i>
                </ion-option-button>
                <ion-option-button class="button-assertive item-icon-right"
                                   ng-click="delete_item(item.id)">
                    <i class="icon ion-trash-b"></i>
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>

    <span ng-if="items.length > 0" style="height: 5%">
        <div class="bar bar-footer bar-balanced">
            <div class="title" ng-click="add_item_to_topic()" style="color: #000000; text-shadow: 0 0 5px #00ff52;">
                Add Item
            </div>
        </div>
    </span>

</ion-view>